.layout {
  display: flex;
  min-height: 100vh;
  background: var(--bg-color);
}

.main-content {
  flex: 1;
  margin-left: 285px;
  width: calc(100% - 285px);

  display: flex;
  flex-direction: column;

  background: var(--bg-color);
  padding-top: 65px;
}

.page-content {
  padding: 20px;
  flex: 1;
}
/* Mobile */
@media (max-width: 768px) {
  .page-content {
    margin-top: 20px;
    padding: 12px;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }
}


