/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* LIGHT MODE */
:root {
  --bg-color: #f5f6fa;
  --card-bg: #ffffff;
  --text-color: #111827;
  --secondary-text: #6b7280;
  --border-color: #e5e7eb;
  --topbar-bg: #ffffff;
}

/* DARK MODE */
body[data-theme="dark"] {
  --bg-color: #0f172a;
  --card-bg: #1e293b;
  --text-color: #f8fafc;
  --secondary-text: #94a3b8;
  --border-color: #334155;
  --topbar-bg: #111827;
}

/* GLOBAL */
body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}
